<div class="h-100 d-flex justify-content-center align-items-center ">
  <section class="row g-0 wrapper bg-white  p-1">
    <section class="col-6 form-container">
      <header>
        <div class="d-flex deskbook-logo">
          <img src="./assets/images/db-icon.png" alt="logo" class="db-icon" />
          <h2 class="logo-text mb-0 mt-2 ms-3">DeskBook</h2>
        </div>
      </header>
      <main>
        <router-outlet></router-outlet>
      </main>
    </section>
    <figure class="col-6 desk-book-img mb-0 d-flex">
      <img src="./assets/images/Rectangle-background.png" alt="deskBook-img" class="img-fluid" />
      <img src="./assets/images/db-logo.png" alt="DeskBook-logo"  class="deskbook-img-logo"/>
    </figure>
  </section>
</div>

