$font-weight-bold:700;
$title-font-size:28px;
$text-gray-400: #8694AA;
.form-title{
    font-weight: $font-weight-bold;
    font-size:$title-font-size ;
}
.text-style{
    color: $text-gray-400;
}
// $font-weight-bold:700;
// $title-font-size:28px;
// $text-gray-400: #8694AA;
// $white:#FFFFFF;
// $btn-color:$white;
// $input-font-family:'Inter', sans-serif;
// // $font-family-base:'Inter', sans-serif;
// .form-title{
//     font-weight: $font-weight-bold;
//     font-size:$title-font-size ;
// }
// .input-outline{
//     outline: 0;
   
// }
// .btn-color{
//     color: $btn-color;
// }

// .placeholder-font{
//     font-family: $input-font-family;
// }

