<p>sidebar works!</p>
<aside>
    <div class="d-flex">
        <figure>
            <img src="/src/assets/images/logo.png" alt="">
        </figure>
        <figcaption>DeskBook</figcaption>
    </div>
    <nav>
        <ul>
            <li>
                <span class="fa fa-bell"></span>
                <span>Dashboard</span>
            </li>
            <li>
                <span class="fa fa-bell"></span>
                <span>Seat Configuration</span>
            </li>
            <li>
                <span class="fa fa-bell"></span>
                <span>Booking History</span>
            </li>
            <li>
                <span class="fa fa-bell"></span>
                <span>Request History</span>
            </li>
            <li>
                <span class="fa fa-bell"></span>
                <span>Registered Users</span>
            </li>
        </ul>
    </nav>
</aside>