<!-- start : reset password form -->
<form class="mb-3" [formGroup]="resetpwdForm">
  <h3 class="form-title margin-bottom-base ">Reset Your Password</h3>
  <div class="border-bottom py-2 d-flex ">
    <img src="/assets/images/password-icon.png" alt="email-icon" class="me-3">
    <input [type]="passwordType" placeholder="New Password" name="password" formControlName="password"
      class="border-0 input-outline  placeholder-font flex-grow-1">
    <button class="show-password" (click)="togglePassword()">
      <img src="/assets/images/show-password-icon.png" alt="hide-password-icon">
    </button>
  </div>
  <!-- start : password validation -->
  <div
    *ngIf="resetpwdForm.get('password')?.invalid && (resetpwdForm.get('password')?.dirty || resetpwdForm.get('password')?.touched)"
    class="alert text-danger">
    <div *ngIf="resetpwdForm.get('password')?.errors?.['required']">
      This field is required</div>
    <div *ngIf="resetpwdForm.get('password')?.errors?.['minlength']">
      Password must be at least 8 characters long </div>
    <div *ngIf="resetpwdForm.get('password')?.errors?.['maxlength']">
      Your Password cannot exceed 25 characters </div>
    <div *ngIf="resetpwdForm.get('password')?.errors?.['pattern']">
      at least 1 uppercase alphabet, 1 Special Character and 1 numeric value required </div>
  </div>
  <!-- end : password validation -->

  <div class="border-bottom py-2 d-flex margin-top-field ">
    <img src="/assets/images/password-icon.png" alt="email-icon" class="me-3">
    <input [type]="passwordType" placeholder="Confirm-password" name="confirmpassword" formControlName="confirmpassword"
      class="border-0 input-outline placeholder-font flex-grow-1">
    <button class="show-password" (click)="togglePassword()">
      <img src="/assets/images/show-password-icon.png" alt="hide-password-icon">
    </button>
  </div>
  <!-- start : confirm password validation -->
  <div
    *ngIf="resetpwdForm.get('confirmpassword')?.invalid && (resetpwdForm.get('confirmpassword')?.dirty || resetpwdForm.get('confirmpassword')?.touched)"
    class="alert text-danger">
    <div *ngIf="resetpwdForm.get('confirmpassword')?.errors?.['required']">
      This field is required</div>
    <div *ngIf="resetpwdForm.get('confirmpassword')?.errors?.['MustMatch']">
      Password Mismatch </div>
  </div>
  <!-- end : confirm password validation -->
  <button type="submit" class="btn btn-primary btn-color w-100 btn-hover mt-4 " (click)="validate()">Reset
    Password</button>
</form>
<!-- End : reset password form -->