.form-title {
    font-weight: $font-weight-bold;
    font-size: $title-font-size ;
    color: $text-primary;
    margin-bottom: 10px;
}

.input-outline {
    outline: 0;

}

::placeholder {
    color: $text-muted;

}

.placeholder-font {
    font-family: $input-font-family;
    font-weight: $font-weight-normal;
    font-size: $font-size-lg;
}

.btn-color {
    color: $white;
    background: $primary;
    font-size: $font-size-lg;
    font-weight: $font-weight-semibold;

    &.btn-hover:hover {
        background: $primary;
        color: $white;
    }
}

.form-subtext-size {
    font-size: $font-size-base;
}

.error-text {
    color: $error-color;
}

.margin-bottom-base {
    margin-bottom: $margin-bottom-base*2;
}

.alert {
    color: red;
    font-size: 14px;
}