.logo-text {
  font-size: 36px;
  font-weight: $font-weight-bold;
  font-family: $font-family-baloo;
}
.wrapper {
    width: 1000px;
}
.db-icon {
  width: 70px;
  height: 50px;
}
.form-container {
  padding: 40px 75px 65px 75px;
}
.deskbook-logo {
  margin-bottom: 55px;
}
.desk-book-img {
  position: relative;
}
.deskbook-img-logo {
  position: absolute;
  top: 28%;
  left: 15%;
}
