<div class="d-flex flex-column sign-in">
    <!-- Sign-in header start here -->
    <h3 class="sign-in-h3">Sign in</h3>
    <!-- Sign-in header end here -->


    <!-- Sign-in form start here -->
    <form>
        <!-- form email start here -->
        <div class="d-flex  border-style-email ">
            <label for="email">
                <img src="assets/images/email-icon.png" alt="Email-icon" class="img-fluid  me-3">
            </label>
            <input type="email" class="border-0 input-placeholder-style" id="email" placeholder="Email">
        </div>
        <!-- form email end here -->
        <!-- form password start here -->
        <div class="d-flex  border-style-password ">
            <label for="password">
            <img src="assets/images/password-icon.png" alt="Password-icon" class="img-fluid me-3">
        </label>
            <input type="password" class="border-0 input-placeholder-style" placeholder="Password" id="password">
            <button class="show-password">
            <img src="assets/images/show-password-icon.png" alt="Forgot-Password-icon" class="img-fluid ">
        </button>
        </div>
        <!-- form password end here -->

        <div class="d-flex flex-column mb-3">
            <a routerLink="" class="forgot-password">Forgot Password?</a>
            <button type="submit" class="sign-in-button border-0">Sign in</button>
        </div>



    </form>
    <!-- Sign-in form start here -->

    <!-- Sign-in bottom start here -->
    <div class="d-flex justify-content-center">
        <span class="footer-text">You don't an account yet? <a routerLink="" class="footer-link">Sign up</a></span>
    </div>
    <!-- Sign-in bottom end here -->

</div>

<!-- width: 350 -->